<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Category.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestOne.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE5BFAC81F056B22000E2AC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5BFAD01F056B23000E2AC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5E80F91F055F6600EA3645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5E81121F055F6600EA3645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5E811D1F055F6600EA3645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5E81391F05605800EA3645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5E81411F05605800EA3645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
